<app-default-layout>
  <div class="container task-container">
    <!-- TODO -->
    <div class="box">
      <div class="box-title">
        <app-task-control
          class="app-task-control"
          [title]="'To Do'"
          [quantites]="10"
          [icon]="'articleIcon'"
          [styles]="{
            color: '#FB8694',
            background: 'none',
            'box-shadow': 'none'
          }"
        ></app-task-control>
      </div>

      <div class="task-box" *ngFor="let task of taskList">
        <div *ngFor="let icon of getIcon">
          <app-task-box
            *ngIf="task?.status === 'todo'"
            [title]="task.title"
            [description]="task.description"
            [date]="task.date"
            [icons]="icon.icons"
          ></app-task-box>
        </div>
      </div>

      <app-button class="submit-box">
        <mat-icon
          [ngStyle]="{ color: '#FB8694', 'font-size': '30px' }"
          (click)="ShowDialog()"
          >add_circle</mat-icon
        >
      </app-button>
    </div>

    <!-- IN PROGRESS -->
    <div class="box">
      <div class="box-title">
        <app-task-control
          [title]="'In progress'"
          [quantites]="10"
          [icon]="'clockIcon'"
          [styles]="{
            color: '#FFCE5B',
            background: 'none',
            'box-shadow': 'none'
          }"
        ></app-task-control>
      </div>
      <div class="task-box" *ngFor="let task of taskList">
        <div *ngFor="let icon of getIcon">
          <app-task-box
            *ngIf="task?.status === 'inprogress'"
            [title]="task.title"
            [description]="task.description"
            [date]="task.date"
            [icons]="icon.icons"
          ></app-task-box>
        </div>
      </div>
      <app-button class="submit-box">
        <mat-icon
          [ngStyle]="{ color: '#FFCE5B', 'font-size': '30px' }"
          (click)="ShowDialog()"
          >add_circle</mat-icon
        >
      </app-button>
    </div>

    <!-- DONE TODAY -->
    <div class="box">
      <div class="box-title">
        <app-task-control
          [title]="'Done Today'"
          [quantites]="10"
          [icon]="'clockIcon'"
          [styles]="{
            color: '#58BA6E',
            background: 'none',
            'box-shadow': 'none'
          }"
        ></app-task-control>
      </div>
      <div class="task-box" *ngFor="let task of taskList">
        <div *ngFor="let icon of getIcon">
          <app-task-box
            *ngIf="task?.status === 'done'"
            [title]="task.title"
            [description]="task.description"
            [date]="task.date"
            [icons]="icon.icons"
          ></app-task-box>
        </div>
      </div>

      <app-button class="submit-box">
        <mat-icon
          [ngStyle]="{ color: '#58BA6E', 'font-size': '30px' }"
          mat-raised-button
          (click)="ShowDialog()"
          >add_circle</mat-icon
        >
      </app-button>
    </div>
  </div>
</app-default-layout>


