<div class="dialog_container">
  <div class="dialog_add">
    <form [formGroup]="taskForm">
      <div class="input_box">
        <p class="input_text">title</p>
        <app-input
          [control]="title"
          [type]="'text'"
          [errorMessage]="'Title invalid.'"
        ></app-input>
      </div>
      <div class="input_box">
        <p class="input_text">description</p>
        <app-input
          [control]="description"
          [type]="'text'"
          [errorMessage]="'Description invalid.'"
        ></app-input>
      </div>
      <div class="input_box">
        <p class="input_text">date</p>
        <app-input
          [control]="date"
          [type]="'text'"
          [errorMessage]="'Date invalid.'"
        ></app-input>
      </div>
      <div class="input_box">
        <p class="input_text">hour</p>
        <app-input
          [control]="hour"
          [type]="'text'"
          [errorMessage]="'Hour invalid.'"
        ></app-input>
      </div>
      <div class="input_box_right">
        <p class="input_text">Status</p>
        <app-select-dialog
          [control]="status"
          class="select_dialog"
          [optionList]="optionStatusList"
        >
        </app-select-dialog>
      </div>
      <div class="input_box_left">
        <p class="input_text">responsable</p>
        <app-select-dialog
          [control]="responsable"
          class="select_dialog"
          [optionList]="optionResponList"
        >
        </app-select-dialog>
      </div>
      <div class="btn_input">
        <app-button class="btn_dialog" (click)="onAdd()" >Save</app-button>
      </div>
    </form>
  </div>
  <!-- <button (click)="check()"> Check</button> -->
</div>
