<app-default-layout *ngIf="vm$ | ngrxPush as vm">
  <div class="container">
    <div class="task-box">
      <div class="task-list">
        <app-task-control
          class="app-task-control"
          *ngFor="let control of vm.TASK_CONTROLS"
          [title]="control.title"
          [icon]="control.icon"
          [quantites]="control.quantites"
          [tag]="control.tag"
          [styles]="{ color: control.color }"
        >
        </app-task-control>
      </div>
    </div>

    <div class="task_content">
      <a class="task_content_title">Tasks in progress</a>
      <div class="task_content_content">
        <div *ngFor="let task of vm.TASK_BOX_CONTENT">
          <app-task-box
            [title]="task.title"
            [description]="task.description"
            [date]="task.date"
            [icons]="task.icons"
          ></app-task-box>
        </div>
      </div>
    </div>

    <div class="line">
      <img src="\assets\images\Line 1.svg" alt="" />
    </div>

    <div class="task_content_2">
      <!-- Next events -->
      <div class="event_wrapper">
        <a routerLink="'#'" class="task_content_title">Next Events</a>
        <div class="event_list">
          <app-event-box
            *ngFor="let event of vm.EVENT_CONTENT"
            [date]="event.date"
            [description]="event.description"
          ></app-event-box>
        </div>
      </div>

      <!-- Events this month -->
      <div class="event_wrapper">
        <a routerLink="'#'" class="task_content_title">Events this month</a>
        <div class="event_list">
          <app-event-box
            *ngFor="let event of vm.EVENT_CONTENT"
            [date]="event.date"
            [description]="event.description"
          ></app-event-box>
        </div>
      </div>

      <!-- Events next month -->
      <div class="event_wrapper">
        <a routerLink="'#'" class="task_content_title">Events next month</a>
        <div class="event_list">
          <app-event-box
            *ngFor="let event of vm.EVENT_CONTENT"
            [date]="event.date"
            [description]="event.description"
          ></app-event-box>
        </div>
      </div>
    </div>
  </div>
</app-default-layout>
